/****************************  File Manager ******************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
html, body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 11px;
}
input, textarea, button {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
}
input, button, textarea {
    border: solid gray 1px;
}
legend {
    display: none;
}
fieldset {
    border: none;
}
#loginModal label {
    width: 60px;
    display: block;
}
a {
    color: #3E4D54;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.layout {
    height: 100%;
    background-color:#FFFFFF;
}
.north {
    height:27px;
    background-image:url(images/ml/fileManager/framework/headerTile.jpg);
    background-repeat:repeat-x;
}
.center {
    position:relative;
    border-left: 1px solid rgb(210, 210, 210);
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin:0px 0xp 0px 0px;
    background-color:#efefef;
    width:100%;
    height:70%;
}
.west {
    width: 280px;
    text-align: center;
    display: inline-block;
    padding: 0px 0px 12px 0px;
}
.west #tree {
    padding: 6px 6px 6px 6px;

}
.south {
    border-top: 1px solid rgb(210, 210, 210);
    height: 30%;
    padding:10px 0px 0px 10px;
    background-image:url(images/ml/fileManager/framework/southTile.jpg);
    background-repeat:repeat-x;
    background-color:#FFFFFF;
}
/** These styles are to create custom resize handles. */

.ui-resizable-w {
    left: -8px;
    width: 8px;
}
.ui-resizable-e {
    right: -8px;
    width: 8px;
}
.ui-resizable-n {
    top: -8px;
    height: 8px;
}
.ui-resizable-s {
    bottom: -8px;
    height: 8px;
}
/** These are the handle icons. */

.grabberV {
    position:absolute;
    background-image:url(images/ml/fileManager/framework/grabberVerticle.gif);
    background-repeat:no-repeat;
    width:6px;
    height:31px;
    top:48%;
    left:0px;
}
.grabberH {
    position:absolute;
    background-image:url(images/ml/fileManager/framework/grabberHorizontal.gif);
    background-repeat:no-repeat;
    width:31px;
    height:6px;
    top:-7px;
    left:55%;
}
/***************************** Navigation ********************************/
/*************************************************************************/
/*************************************************************************/

.north ul {
    position:relative;
    padding:0px;
    margin:0px;
}
.north ul li {
    list-style:none;
    padding: 0px 20px 0px 20px;
    line-height:25px;
}
.north .left {
    background-image:url(images/ml/fileManager/framework/navigationLine.gif);
    background-repeat:no-repeat;
    background-position:right;
    float:left;
    height:27px;
}
.north .left .icon {
    position:relative;
    padding-right:10px;
    top:1px;
}
.north .right {
    background-image:url(images/ml/fileManager/framework/navigationLine.gif);
    background-repeat:no-repeat;
    background-position:left;
    float:right;
    height:27px;
}
.north ul li a {
    display:block;
    font-size:11px;
    color:#FFFFFF;
    text-decoration:none;
}
/***************************** Sub Navigation ********************************/

.center .subNavigation {
    position:relative;
    display:table;
    height:auto;
    width:100%;
    border-bottom: 1px solid #e6e6e6;
    background-color:#f9f9f9;
    background-image:url(images/ml/fileManager/framework/subNavShade.jpg);
    background-repeat:repeat-x;
    padding:2px;
}
/***************************** Drop Down Menu  ********************************/

.menuDropDown {
    position:absolute;
    width:300px;
    height:auto;
    top:38px;
    left:328px;
    background-color:#FFFFFF;
    padding:15px 15px 18px 15px;
    border:solid 1px #c3c3c3;
    background-image:url(images/ml/fileManager/framework/popupShade.jpg);
    background-repeat:repeat-x;
    background-position:bottom;
    z-index:999;
}
.menuDropDown table {
    position:relative;
    border-bottom:solid 1px #dcdcdc;
    padding: 0px 0px 0px 0px;
}
.menuDropDown td {
    position:relative;
    padding: 4px 0px 4px 5px;
    border-top:solid 1px #dcdcdc;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:normal;
    color:#454545;
}
.menuDropDown .input {
    position:relative;
    width:140px;
    left:-5px;
    padding: 5px 5px 5px 5px;
    border:solid 1px #dcdcdc;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:normal;
    color:#454545;
}
/***************************** Buttons ********************************/
/*************************************************************************/
/*************************************************************************/


/***************************** Button Grey  ********************************/

.clear { /* generic container (i.e. div) for floating buttons */
         overflow: hidden;
         width: 100%;
}
a.buttonGrey {
    background: transparent url('images/framework/buttons/buttonGrey/bg_button_a.gif') no-repeat scroll top right;
    color: #ffffff;
    display: block;
    float: left;
    font: normal 10px arial, sans-serif;
    height: 17px;
    margin-right: 6px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
}
a.buttonGrey span {
    background: transparent url('images/framework/buttons/buttonGrey/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 7px;
    padding: 5px 0 5px 10px;
}
a.buttonGrey:active {
    background-position: bottom right;
    color: #ffffff;
    outline: none; /* hide dotted outline in Firefox */
}
a.buttonGrey:active span {
    background-position: bottom left;
    padding: 6px 0 4px 10px; /* push text down 1px */
}
/***************************** Button Grey 2 (Main Navigation)  ********************************/

.clear { /* generic container (i.e. div) for floating buttons */
         overflow: hidden;
         width: 100%;
}
.subNavigation > a {
    background: transparent url('images/framework/buttons/buttonGrey2/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 11px arial, sans-serif;
    height: 31px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}
.subNavigation > a > span {
    background: transparent url('images/framework/buttons/buttonGrey2/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 21px;
    padding: 5px 0 5px 18px;
}
.subNavigation a:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}
.subNavigation a:active span {
    background-position: bottom left;
    padding: 5px 0 5px 18px;
}
.subNavigation a .subIcon {
    position:relative;
    left:-7px;
    top:1px;
    float:left;
}
.subNavigation a .subIconDrop {
    position:relative;
    float:right;
    right:-15px;
    top:-3px;
}
/***************************** Button Green  ********************************/



.clear { /* generic container (i.e. div) for floating buttons */
         overflow: hidden;
         width: 100%;
}
a.buttonGreen {
    background: transparent url('images/framework/buttons/buttonGreen2/bg_button_a.gif') no-repeat scroll top right;
    color: #ffffff;
    display: block;
    float: left;
    font: normal 11px arial, sans-serif;
    height: 22px;
    margin-right: 6px;
    padding-right: 14px; /* sliding doors padding */
    text-decoration: none;
}
a.buttonGreen span {
    background: transparent url('images/framework/buttons/buttonGreen2/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 12px;
    padding: 5px 0 5px 14px;
}
a.buttonGreen:active {
    background-position: bottom right;
    color: #ffffff;
    outline: none; /* hide dotted outline in Firefox */
}
a.buttonGreen:active span {
    background-position: bottom left;
    padding: 6px 0 4px 14px; /* push text down 1px */
}


/***************************** Files list ********************************/
#tabs {
    height: 95%;
}

#files {
    position:relative;
    width:100%;
    height:100%;
    padding: 0 !important;
}

/***************************** Preview Area ********************************/

.preview {
    position:relative;
    width:100%;
    height:100%;
}
.preview iframe {
    height: 97%;
    width: 97%;
    overflow: auto;
    border: solid gray 1px;
}
.preview table.filesList {
    width: 98%;
}
.image {
    position:relative;
    max-height:100%;
    border: 1px solid #e6e6e6;
    background-color:#FFFFFF;
    padding:8px;
    margin-top:10px;
}
.previewPrevious {
    position:absolute;
    width:44px;
    height:44px;
    background-image:url(images/ml/fileManager/preview/buttonLHSoff.gif);
    left:10px;
    top:46%;
}
.previewPrevious:hover {
    background-image:url(images/ml/fileManager/preview/buttonLHSon.gif);
}
.previewNext {
    position:absolute;
    width:44px;
    height:44px;
    background-image:url(images/ml/fileManager/preview/buttonRHSoff.gif);
    right:10px;
    top:46%;
}
.previewNext:hover {
    background-image:url(images/ml/fileManager/preview/buttonRHSon.gif);
}
/*************************** File info **********************************/

.preview .file {
    display: table;
    width: auto;
    height: auto;
    background-color:#FFFFFF;
    border: 1px solid #e6e6e6;
    padding: 25px;
    margin-top:40px;
    text-align: left;
}
.preview .file a {
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    font:Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    border-bottom:solid 1px #CCCCCC;
}
.preview .file p {
    font-family:Arial, Helvetica, sans-serif;
    font:Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 2px 0px 0px 0px;
}
.preview .file img {
    margin-right: 20px;
    border: none;
    float: left;
}
/***************************** Thumbnails ********************************/


.fullSize {
    width: 100%;
    height: 100%;
}
#thumbs > div {
    width: 104px;
    height: 78px;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
}
.thumbContainer {
    position:relative;
    height:100%;
    width:100%;
    overflow:auto;
    padding:0px;
    margin:0px;
}
.thumbPhoto {
    position:relative;
    float:left;
    margin: 0px 10px 10px 0px;
    background-color:#ffffff;
    border: 1px solid #e6e6e6;
    padding:3px 3px 3px 3px;
}
.thumbPhoto:hover {
    background-color:#d6d6d6;
}
.thumbPhoto img {
    vertical-align:top;
}
.thumbFile {
    position:relative;
    float:left;
    width:132px;
    height:77px;
    margin: 0px 10px 10px 0px;
    border: 1px solid transparent;
    padding:3px 3px 3px 3px;
    text-align:center;
    overflow:hidden;
}
.thumbFile:hover {
    background-color:#ffffff;
    background-image:url(images/ml/fileManager/thumbnails/thumbBgShade.jpg);
    background-repeat:repeat-x;
    background-position:bottom;
    border: 1px solid #d4e4c1;
}
.thumbFile .icon {
    position:relative;
    top:10px;
}
.thumbFile .text {
    position:relative;
    top:15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#333333;
}
/***************************** Tooltip ********************************/
#tooltip {
    position:absolute;
    border:1px solid #d2d2d2;
    background:#ffffff;
    padding:10px;
    color:#333;
    display:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#404040;
    z-index:1000;
}
/***************************** Fonts ********************************/

h1 {
    position:relative;
    font-family:Tahoma;
    font-size:20px;
    font-weight:normal;
    color:#92c73e;
    padding:0px 0px 15px 0px;
    margin:0px;
    z-index:100;
}
/**********   VIDEO *****************/

#flowplayerholder {
    height: 300px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#inviteForm textarea {
    width: 500px;
    height: 100px;
}
/****************  TREE   ********************/
.jstree {
    overflow: auto !important;
}



ul.tabs {
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    height: 32px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.tabs li {
    background: none repeat scroll 0 0 #E0E0E0;
    border-color: #999999 #999999 #999999 -moz-use-text-color;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    float: left;
    height: 31px;
    line-height: 31px;
    margin: 0 0 -1px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
html ul.tabs li.active a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
ul.tabs li a {
    border: 1px solid #FFFFFF;
    color: #000000;
    display: block;
    font-size: 1.2em;
    outline: medium none;
    padding: 0 20px;
    text-decoration: none;
}

.paging_two_button .ui-button {
    float: left;
    cursor: pointer;
    * cursor: hand;
}

.paging_full_numbers .ui-button {
    padding: 2px 6px;
    margin: 0;
    cursor: pointer;
    * cursor: hand;
}

.dataTables_paginate .ui-button {
    margin-right: -0.1em !important;
}

.paging_full_numbers {
    width: 350px !important;
}

.dataTables_wrapper .ui-toolbar {
    padding: 5px;
}

.dataTables_paginate {
    width: auto;
}

.dataTables_info {
    padding-top: 3px;
}

table.filesList {
    border-collapse: collapse;
}

table.filesList tbody tr {
    border-bottom: 1px solid lightgrey;
}
table.filesList tbody tr:hover {
    background-color: lightyellow;
}

table.filesList thead th {
    padding: 3px 0px 3px 10px;
    cursor: pointer;
    * cursor: hand;
}

div.dataTables_wrapper .ui-widget-header {
    font-weight: normal;
}


/*
 * Sort arrow icon positioning
*/
table.filesList thead th div.DataTables_sort_wrapper {
    position: relative;
    padding-right: 20px;
    padding-right: 20px;
}

table.filesList thead th div.DataTables_sort_wrapper span {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 0;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Everything below this line is the same as demo_table.css. This file is
 * required for 'cleanliness' of the markup
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
*/

.dataTables_wrapper {
    position: relative;
    min-height: 302px;
    _height: 302px;
    clear: both;
    margin: 10px 0;
}

.dataTables_processing {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 11px;
    padding: 2px 0;
}

.dataTables_length {
    width: 40%;
    float: left;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
}

.dataTables_info {
    width: 50%;
    float: left;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
    height: 19px;
    width: 19px;
    margin-left: 3px;
    float: left;
}

.paginate_disabled_previous {
    background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
    background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
    background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
    background-image: url('../images/forward_enabled.jpg');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
*/
table.filesList {
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
}

table.filesList tfoot th {
    padding: 3px 0px 3px 10px;
    font-weight: bold;
    font-weight: normal;
}

table.filesList tr.heading2 td {
    border-bottom: 1px solid #aaa;
}

table.filesList td {
    padding: 3px 10px;
}

table.filesList td.center {
    text-align: center;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
*/

.sorting_asc {
    background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
    background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
    background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
    background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
    background: url('../images/sort_desc_disabled.png') no-repeat center right;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
*/
table.filesList tr.odd.gradeA {
    background-color: #ddffdd;
}

table.filesList tr.even.gradeA {
    background-color: #eeffee;
}




table.filesList tr.odd.gradeA {
    background-color: #ddffdd;
}

table.filesList tr.even.gradeA {
    background-color: #eeffee;
}

table.filesList tr.odd.gradeC {
    background-color: #ddddff;
}

table.filesList tr.even.gradeC {
    background-color: #eeeeff;
}

table.filesList tr.odd.gradeX {
    background-color: #ffdddd;
}

table.filesList tr.even.gradeX {
    background-color: #ffeeee;
}

table.filesList tr.odd.gradeU {
    background-color: #ddd;
}

table.filesList tr.even.gradeU {
    background-color: #eee;
}


tr.odd {
    background-color: white;
}

tr.even {
    background-color: white;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
*/
.dataTables_scroll {
    clear: both;
}

.top, .bottom {
    padding: 15px;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
}

.top .dataTables_info {
    float: none;
}

.clear {
    clear: both;
}

.dataTables_empty {
    text-align: center;
}

tfoot input {
    margin: 0.5em 0;
    width: 100%;
    color: #444;
}

tfoot input.search_init {
    color: #999;
}

td.group {
    background-color: #d1cfd0;
    border-bottom: 2px solid #A19B9E;
    border-top: 2px solid #A19B9E;
}

td.details {
    background-color: #d1cfd0;
    border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
    width: 40%;
}

.paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    *cursor: hand;
}

.paging_full_numbers span.paginate_button {
    background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
    background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
    background-color: #99B3FF;
}

table.filesList tr.even.row_selected td {
    background-color: #B0BED9;
}

table.filesList tr.odd.row_selected td {
    background-color: #9FAFD1;
}




/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
*/
tr.odd.gradeA td.sorting_1 {
    background-color: #c4ffc4;
}

tr.odd.gradeA td.sorting_2 {
    background-color: #d1ffd1;
}

tr.odd.gradeA td.sorting_3 {
    background-color: #d1ffd1;
}

tr.even.gradeA td.sorting_1 {
    background-color: #d5ffd5;
}

tr.even.gradeA td.sorting_2 {
    background-color: #e2ffe2;
}

tr.even.gradeA td.sorting_3 {
    background-color: #e2ffe2;
}

tr.odd.gradeC td.sorting_1 {
    background-color: #c4c4ff;
}

tr.odd.gradeC td.sorting_2 {
    background-color: #d1d1ff;
}

tr.odd.gradeC td.sorting_3 {
    background-color: #d1d1ff;
}

tr.even.gradeC td.sorting_1 {
    background-color: #d5d5ff;
}

tr.even.gradeC td.sorting_2 {
    background-color: #e2e2ff;
}

tr.even.gradeC td.sorting_3 {
    background-color: #e2e2ff;
}

tr.odd.gradeX td.sorting_1 {
    background-color: #ffc4c4;
}

tr.odd.gradeX td.sorting_2 {
    background-color: #ffd1d1;
}

tr.odd.gradeX td.sorting_3 {
    background-color: #ffd1d1;
}

tr.even.gradeX td.sorting_1 {
    background-color: #ffd5d5;
}

tr.even.gradeX td.sorting_2 {
    background-color: #ffe2e2;
}

tr.even.gradeX td.sorting_3 {
    background-color: #ffe2e2;
}

tr.odd.gradeU td.sorting_1 {
    background-color: #c4c4c4;
}

tr.odd.gradeU td.sorting_2 {
    background-color: #d1d1d1;
}

tr.odd.gradeU td.sorting_3 {
    background-color: #d1d1d1;
}

tr.even.gradeU td.sorting_1 {
    background-color: #d5d5d5;
}

tr.even.gradeU td.sorting_2 {
    background-color: #e2e2e2;
}

tr.even.gradeU td.sorting_3 {
    background-color: #e2e2e2;
}

/** JQuery UI mods **/
.ui-dialog-titlebar {
    height: 20px;
}
