

.error, .validationError, #validationMessage {
    color: red;
}

.errorField {
    border: solid red 1px !important;
}

.pageMessage {
    padding: 10px;
    border: dashed #cccccc 1px !important;
    background: white;
    display: none; /** initial state */
}
