<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MiltonTutorial_1</display-name>
                 
    <servlet>
        <servlet-name>milton</servlet-name>
        <servlet-class>io.milton.http.MiltonServlet</servlet-class>
        <init-param>
            <param-name>resource.factory.factory.class</param-name>
            <param-value>com.ettrema.tutorial.hr.web.HrResourceFactoryFactory</param-value>
        </init-param>
<!--
To disable digest authentication uncomment the following. To completely disable
all authentication provide an empty value. If this init-param is missing milton
will default to basic and digest authentication.
-->
        <init-param>
            <param-name>authentication.handler.classes</param-name>
            <param-value>com.bradmcevoy.http.http11.auth.BasicAuthHandler</param-value>
        </init-param>


        <init-param>
            <param-name>not.found.url</param-name>
            <param-value>/404.jsp</param-value>
        </init-param>    
<!-- Uncomment the following filter to enable request and response logging to your user.home-->

        <init-param>
            <param-name>filter_0</param-name>
            <param-value>com.bradmcevoy.http.DebugFilter</param-value>
        </init-param>
		<load-on-startup>0</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>milton</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>

</web-app>