/apps/milton-android-photouploader/bin/
/apps/milton-android-photouploader/gen/
/milton-api/target/
/milton-caldav/target/
/milton-caldav-demo/target/
/milton-client/target/
/milton-console/target/
/milton-filesystem-test/target/
/milton-filesystem/nbproject/
/milton-filesystem/target/
/milton-ftp/target/
/milton-gae/target/
/milton-json/target/
/milton-ldap/target/
/milton-proxy/target/
/milton-restlet/target/
/milton-servlet/target/
/milton-zsync/target/
/milton-api2/target/
/examples/milton-caldav-demo/target/
/milton-core/target/
/milton-server/target/
/examples/caldav-non-spring-netbeans/nbproject/private/
/external/cardme/target/
/milton-mail-api/target/
/milton-mail-server/target/
/examples/milton-ref/target/
/milton-server-ce/target/
/target/