/apps/milton-android-photouploader/bin/
/apps/milton-android-photouploader/gen/
/milton-api/target/
/milton-caldav/target/
/milton-caldav-demo/target/
/milton-client/target/
/milton-console/target/
/milton-filesystem-test/target/
/milton-filesystem/nbproject/
/milton-filesystem/target/
/milton-ftp/target/
/milton-gae/target/
/milton-json/target/
/milton-ldap/target/
/milton-proxy/target/
/milton-restlet/target/
/milton-servlet/target/
/milton-zsync/target/
/milton-api2/target/
/examples/milton-caldav-demo/target/
/milton-core/target/
/milton-server/target/
/examples/caldav-non-spring-netbeans/nbproject/private/
/external/cardme/target/
/milton-mail-api/target/
/milton-mail-server/target/
/examples/milton-ref/target/
/milton-server-ce/target/
/target/
/examples/eclipse-tut-1/target/
/examples/eclipse-tut-carddav/target/
/apps/milton-davproxy-app/target/
/examples/tutorial-eclipse-1/
/examples/milton-anno-ref/target/
/examples/milton-anno-ref/src/main/resources/milton.license.sig
/examples/milton-anno-ref/src/main/resources/milton.license.properties
/external/bootstrap/target/
/examples/milton-anno-bandstand/target/
/milton-server-ent/target/
/out/
/milton.iml
/examples/tuts-anno1/target/
/examples/grails-app/target/
/examples/tuts-anno3/target/
/examples/tuts-anno4-carddav/target/